
.display-block {
  display: block;
  background-color:rgb(51, 51 , 51, 0.7);
  padding-bottom: 50px;;
}
.display-none {
  display: none;
}

#Restaurant{
position: relative;
margin-left: 8.5%;
margin-top:4%
}
#Dishes{
margin-bottom: 3%;
margin-left:5%;
margin-top:38%;
}

#Reviews{
margin-top: 20%;
margin-left: 7.5%;
}

#modal-root{
position: relative;
z-index: 999;
}

#Photos{
/* margin-top:10%; */
}

.modal {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: black;
justify-content: center;
align-items: center;
}